.container-flex{
	display:flex;
	justify-content:space-between;
	width:800px;
	border:2px solid Blue;
	text-align:center;
	margin:20px auto;
}
.container-grid { 
  display: grid; 
  grid-template:repeat(2,1fr)/repeat(2,1fr);
  row-gap:10px;
  width:600px;
  border:2px solid Blue;
}  
.pozadina{
background-image:url("Slike/pozadina/pozadina2.jpg");
background-size:cover;
background-position:center;
}
.naslov{
	text-align:center;
	color:yellow;
}
.naslov2{
	text-align:center;
	color:yellow;
}